[run]
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    config/asgi.py
    config/wsgi.py
    config/celery.py
    config/settings/*
    manage.py

[report]
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    config/asgi.py
    config/wsgi.py
    config/celery.py
    config/settings/*
    manage.py
